.btn-group .dropdown-toggle:focus,
.btn-group .dropdown-toggle:active,
.btn-group .dropdown-toggle.show {
    color: #fff;
    border-color: #EF595A;
}

.btn {
    color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

#nav-logo {
    margin: 0;
    padding: 0;
}

#nav-main {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(32, 36, 43, 0.301);

}

#contacts-header {
    gap: 50px;
}

.address-nav,
.email-nav {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.email-nav a {
    text-decoration: none;
    color: #FFFFFF
}

#phone-header {
    color: #FFFFFF;
    text-align: right;
}

#phone-header a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800
}

#phone-header a:hover {
    color: #878fd6;
    transition: 0.4s;
}

#upper-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 12px;
}

#slider-main {
    padding: 0;
}


.button:hover {
    color: #FFFFFF;
    border-bottom-color: #EF595A;
    transition: 0.5s;
}

.btn.show {
    color: #FFFFFF;
}

.button {
    border: none;
    font-size: smaller;
    font-weight: bold;
    border-radius: 0;
    border-bottom: 3px solid transparent;
}

#lower-header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 2px;
    right: 15px;
    gap: 10px;
}

.email-nav a:hover,
.email-nav a:focus {
    color: #878fd6;
    transition: 0.4s;
}

.slider-card-upper {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 235px;
    height: 100px;
    z-index: 1;
    border: 10px solid #FFFFFF;
    border-bottom: none;
}

.slider-card-upper p {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
}

.card-inner-header {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-inner-header p {
    width: 600px;
    color: #FFFFFF;
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 52px;
}

.card-inner-footer {
    position: absolute;
    top: 39.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-inner-footer p {
    color: #FFFFFF;
    font-family: "Open Sans", serif;
    font-weight: lighter;
    font-size: 24px;
    padding-top: 60px;
    width: 300px;

}

.slider-card-bottom {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 110px;
    border: 10px solid #FFFFFF;
    border-top: none;
}

.slider-card-bottom-price {
    height: 250px;
    background-color: #FFFFFF;
    width: 240px;
    font-family: "Montserrat", serif;
    color: #37353D;
    font-weight: bold;
    font-size: 25px;
    padding-top: 13px;
    transform: translateY(1px);
}

.slider-card-bottom-frame {
    height: 240px;
}

.triangle-bottomright {
    position: absolute;
    bottom: -7px;
    right: 2px;
    width: 0;
    height: 0;
    border-bottom: 12px solid red;
    border-left: 12px solid transparent;
    border-radius: 2px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-card-bottom-price span {
    font-size: 16px;
    transform: translateY(-3px);
    padding-right: 2px;
}

p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
}

#vegas-container {
    width: 100%;
    height: 730px;
}

.vegas-timer-progress {
    background-color: rgba(0, 0, 0, 0.23);
}

.search-properties {
    height: 225px;
    width: auto;
    background-color: #37353D;
}

.search-bar {
    font-family: "Open Sans", sans-serif;
    width: 350px;
    margin: 26px 3px 0 0;
    border-radius: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    background-color: #4e4a59;
    border: none;
    height: 40px;
    align-items: center;
}

.search-bar:hover {
    background-color: #4e4a59;
    transition: 0.4s;
}

button i {
    position: relative;
    right: -3px;
    font-size: 12px;
}

.search-dropdown {
    width: 99%;
}

.btn-check:checked + .btn, .search-bar.show, .search-bar:first-child:active, :not(.btn-check) + .btn:active {
    background-color: #4e4a59;
}

.contacts-btn:first-child:active {
    color: #FFFFFF;
    border-color: #EF595A;
}

.search-dropdown {
    background-color: #4e4a59;
}

.search-dropdown li a {
    color: #FFFFFF;
    border: none;
}

.search-dropdown li a:hover {
    background-color: rgba(0, 0, 0, 0.11);
    color: #FFFFFF;
    transition: 0.4s;
}

.custom-dropdown {
    background-color: #4e4a59;
    border-radius: 0;
    opacity: 95%;
    margin: 0;
    padding: 0;
}

.custom-dropdown li a {
    color: #FFFFFF;
    font-size: 14px;
}

.custom-dropdown li a:hover {
    background-color: #878fd6;
    color: #FFFFFF;
    transition: 0.4s;
}

.nav-dropdown-item {
    padding: 10px;
}

.range-text {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

#customRange1::-webkit-slider-thumb, #customRange2::-webkit-slider-thumb {
    background-color: #FFFFFF !important;
    height: 15px;
    position: relative;
    top: -2px;
}


.search-container {
    height: auto;
    display: flex;
    justify-content: center;
}

.ranges {
    width: 100%;
    display: flex;
    gap: 10px;
}


#first-range-right-text, #second-range-right-text {
    position: relative;
    top: 9px;
    right: 10px;
    font-size: 14px
}

#first-range-left-text, #second-range-left-text {
    position: relative;
    top: 9px;
    font-size: 14px
}

.search-button-input {
    margin-right: 15px;
    margin-top: 20px;
    width: 160px;
    border-radius: 0;
    border: none;
    background-color: #878fd6;
}

.search-button-input:hover {
    background-color: #5f66a5;
}

[slider] {
    position: relative;
    height: 14px;
    border-radius: 10px;
    text-align: left;
    margin: 10px 0 0;
    width: 370px;
}

[slider] > div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 14px;
}

[slider] > div > [inverse-left] {
    position: absolute;
    left: 0;
    height: 3px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}

[slider] > div > [inverse-right] {
    position: absolute;
    right: 0;
    height: 3px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}

[slider] > div > [range] {
    position: absolute;
    left: 0;
    height: 3px;
    border-radius: 14px;
    background-color: #878fd6;
}

[slider] > div > [thumb] {
    position: absolute;
    top: -5px;
    z-index: 2;
    height: 14px;
    width: 14px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 50%;
    outline: none;
}

[slider] > input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}


div[slider] > input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}

.value-display-min {
    position: absolute;
    color: white;
    top: 8px;
    transform: translateX(-10px);
}

.value-display-max {
    position: absolute;
    color: white;
    top: 8px;
    transform: translateX(-10px);
}

.price-display-min {
    position: absolute;
    color: white;
    top: 8px;
    transform: translateX(-10px);
}

.price-display-max {
    position: absolute;
    color: white;
    top: 8px;
    transform: translateX(-10px);
}

.data-image {
    width: auto;
    margin: 50px;
}

.data-image img {
    width: 500px;
    height: 100%;
}

.data-about {
    margin: 50px 0 0 50px;
}

.data-header {
    font-size: 32px;
}

.data-address {
    font-size: 20px;
    padding-left: 35px;
}

.data-header i {
    color: #878fd6;
}

.data-info {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 300;
}

.data-lists {
    margin-top: 20px;
}

.data-container {
    display: flex;
    justify-content: space-evenly;
}

.data-lists ul {
    list-style: none;
}

.data-lists ul li {
    font-size: 14px;
    padding: 5px 10px;
}

.data-lists i {
    color: #ef595a;
    padding-right: 10px;
    font-size: 8px;
}

.data-footer-price {
    background-color: #ef595a;
    padding: 10px 40px;
    margin: 0 0 50px 40px;
    color: #FFFFFF;
    font-size: 20px;
}

.data-footer-icons {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-footer-icons ul {
    list-style: none;
    position: relative;
    bottom: 15px;
}

.data-footer-icons i {
    color: rgba(0, 0, 0, 0.38);
    padding-right: 5px;
}

.recommendations-main {
    background-color: rgba(0, 0, 0, 0.09);
}

.recommendations-header {
    font-size: 20px;
    padding: 50px 0 20px 70px;
    font-weight: bold;
}

.card-alert {
    color: #ef595a;
    text-shadow: none;
    font-size: 14px;
    position: relative;
}

.card i {
    color: #878fd6;
    padding-right: 5px;
}

#card-footer,
#card-footer2,
#card-footer3 {
    padding-left: 16px;
    margin-top: -20px;
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
}

.card-body {
    height: 150px;
    position: relative;
    bottom: 50px;
}

.lower-body {
    width: 319px;
    position: relative;
    left: -16px;
    height: 20px;
}

.lower-body ul {
    margin: 0;
    padding: 10px 0 0 0;
    width: 120%;
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    border-top: 2px solid rgba(0, 0, 0, 0.08);
}

#card-header,
#card-header2,
#card-header3 {
    text-shadow: none;
    font-size: 20px;
    padding-bottom: 5px;
}

.card-info {
    padding-top: 8px;
    bottom: 40px;
    left: 200px;
    position: relative;
    width: 182px;
    height: 40px;
    background: #ef595a;
    text-align: center;
    color: #FFFFFF;
}

.recommended-header {
    padding: 0 0 70px 0;
    background-color: rgba(0, 0, 0, 0.08);
}

.header-text {
    padding: 50px 20px 40px 20px;
    font-size: 22px;
    font-weight: bold;
}

.menu-background {
    background: url("../img/menuBackground.jpg");
    height: 520px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
}

.row {
    margin: 0;
    padding: 0;
}

.logos {
    height: 100%;
}


.diamond {
    width: 85px;
    height: 85px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    position: relative;
    transform: rotate(45deg);
    margin: 60px 0;
    background-color: transparent;
    transition: background-color 0.7s ease;

}

.diamond:hover {
    background-color: #39ceb3;
    color: #39ceb3;
    cursor: pointer;
    transition: 0.7s ease;
}

.custom-card {
    background-color: transparent;
    border: none;
    width: 330px;
}

.custom-title {
    padding-top: 20px;
    color: #FFFFFF;
}

.card-text-custom {
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 14px;
}

.custom-icon1 {
    padding-top: 25px;
    padding-left: 9px;
    transform: rotate(-45deg);
    font-size: 40px;
    transition: color 0.7s ease;
}

.custom-icon2 {
    padding-top: 26px;
    padding-left: 10px;
    transform: rotate(-45deg);
    font-size: 40px;
    transition: color 0.7s ease;
}

.custom-icon3 {
    padding-top: 30px;
    padding-left: 14px;
    transform: rotate(-45deg);
    font-size: 40px;
    transition: color 0.7s ease;
}

.custom-icon4 {
    padding-top: 28px;
    padding-left: 13px;
    transform: rotate(-45deg);
    font-size: 40px;
    transition: color 0.7s ease;
}

.custom-icon1,
.custom-icon2,
.custom-icon3,
.custom-icon4 {
    color: #39ceb3 !important;
}

.hover-animation {
    color: #ffffff !important;
}

.title-animation h5:hover {
    cursor: pointer;
    color: #39ceb3;
    transition: 0.7s ease;
}

.ad-menu {
    height: 600px;
    background: url("../img/img_bg01.webp");
    background-size: cover;
    background-position: center;
}

.ad-phone-img {
    padding-right: 158px;
}

.ad-text {
    padding-top: 174px;
    padding-left: 160px;
    font-size: 45px;
    font-weight: 450;
}

.ad-header-colored-text {
    color: #ef595a;
    font-weight: 800;
}

.ad-desc {
    padding-right: 40px;
}

.ad-desc p {
    font-size: 18px;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
}

.ad-icons {
    margin-top: 40px;
}

.swiper-container {
    width: 100%;
    background: url("../img/carouselBackground.jpg") center no-repeat;
    background-size: 100%;
    height: 600px;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto !important;
    left: auto !important;
    margin: 0;
}

.swiper-pagination-bullet {
    padding: 5px 10px;
    border-radius: 0;
    width: auto;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.swiper-header p {
    font-size: 40px;
    margin: 0 100px;
    color: #FFFFFF;
    font-weight: 800;
}

.swiper-footer p {
    margin: 0;
    color: #FFFFFF;
    font-size: 14px;
}

.swiper-footer {
    padding-top: 50px;
}

.swiper-pagination {
    position: absolute;
    right: 47%;
}

.info-search {
    margin: 70px 0 0 10px;
    font-size: 20px;
}

.lower-search-bar {
    background: #5AC4B1;
    height: 170px;
    color: #FFFFFF;
}

.input-search {
    margin-top: 70px;
}

.search-menu {
    height: 170px;
}

.search-text-input {
    width: 880px;
    height: 55px;
    border: none;
    border-radius: 3px;
}

.search-text-input::placeholder {
    font-size: 18px;
    padding-left: 20px;
}

.sub-button {
    position: absolute;
    right: 70px;
    top: 61px;
    height: 49px;
    width: 176px;
    border-radius: 3px;
    background-color: #4e4a59;
}

.upper-footer {
    background: #3e3b45;
    color: #FFFFFF;
}

.footer-header {
    text-align: start;
    font-size: 14px;
    padding-bottom: 22px;
}

.footer-contacts-desc-main {
    font-size: 14px;
    text-align: start;
    font-weight: 300;
}

.footer-contacts-contact-list {
    padding-top: 30px;
}

.footer-contacts-contact-list ul li {
    position: relative;
    left: -25px;
    list-style: none;
    padding-bottom: 10px;
    text-align: start;
}

.footer-contacts-contact-list ul li i {
    position: relative;
    left: -8px;
    color: #878fd6;
    font-size: 14px;
}

.article-desc-main {
    font-size: 14px;
    text-align: start;
    position: relative;
    top: -4px;
    color: #FFFFFF;
    transition: color 0.7s ease;
}

.article-desc-main:hover {
    color: #ef595a;
    cursor: pointer;
    transition: 0.7s ease;
}

.article-desc-secondary {
    font-size: 11px;
    text-align: start;
    position: relative;
    bottom: -4px;
}

.article-inner {
    padding-left: 10px;
}

.article-span {
    color: #ef595a;
    transition: color 0.7s ease;
}

.article-span:hover {
    color: #878fd6;
    cursor: pointer;
}

.footer-quick-links-list ul li {
    position: relative;
    list-style: none;
    text-align: start;
    font-size: 11px;
    color: #999ca9;
}

hr {
    margin: 10px 0;
    color: #999ca9;
}

.q-links {
    position: relative;
    left: 30px;
}

.footer-recent-comment-list {
    text-align: start;
}

.footer-recent-comments {
    font-size: 14px;
    padding-bottom: 15px;
}

.footer-recent-comments i {
    color: #999ca9;
    font-size: 10px;
    position: relative;
    bottom: 1px;
}

.footer-recent-comments span {
    color: #999ca9;
}

.footer-about-us-header,
.footer-about-us-desc {
    color: #FFFFFF;
}

.footer-about-us-desc {
    padding-top: 20px;
    font-size: 14px;
    color: #999ca9;
}

.footer-follow-us-header {
    color: #FFFFFF;
}

.footer-follow-us-logos ul li {
    list-style: none;
    font-size: 24px;
    position: relative;
    left: -25px;
    top: 25px;
    color: #999ca9;
    transition: color 0.7s ease;

}

.footer-follow-us-logos ul li:hover {
    cursor: pointer;
    color: #878fd6;
    transition: color 0.7s ease;
}

.initial-footer-span {
    font-size: 12px;
    color: #ef595a;
    transition: color 0.7s ease;
}

.initial-footer-span:hover {
    color: #878fd6;
    transition: color 0.7s ease;
    cursor: pointer;
}

.initial-footer-inner-text {
    color: #999ca9;
    font-size: 12px;
    position: relative;
    bottom: -3px;
}

.initial-footer-list ul li {
    list-style: none;
    color: #999ca9;
    font-size: 12px;
    position: relative;
    bottom: -5px;
    right: -10px;
    transition: color 0.7s ease;
}
.initial-footer-list ul li:hover{
    color: #ef595a;
    cursor: pointer;
    transition: color 0.7s ease;

}